<div id="container">
  <div class="card">
    <img src="{{ url_for('static', filename='image/carton.png') }}" class="card-img-top" alt="Cartones" />
    <div class="card-body">
      <h5 class="card-title">Taquilla Bingo</h5>
      <p class="card-text">Elige Cartón Ganador</p>
      <a href="#" onclick="listarCartones()" class="btn-primary">Entrar</a>
    </div>
  </div>

  <div class="card">
    <img src="{{ url_for('static', filename='image/sorteo.png') }}" class="card-img-top" alt="Sorteo" />
    <div class="card-body">
      <h5 class="card-title">Sala Bingo</h5>
      <p class="card-text">Sorteo online</p>
      <a href="#" onclick="letraCantada()" class="btn-primary">Entrar</a>
    </div>
  </div>

  <div class="card">
    <img src="{{ url_for('static', filename='image/taquilla.png') }}" class="card-img-top" alt="Taquilla" />
    <div class="card-body">
      <h5 class="card-title">Taquilla LottoABC</h5>
      <p class="card-text">Elige tu Letra Ganadora</p>
      <a href="#" onclick="listaLetra()" class="btn-primary" disabled>Entrar</a>
    </div>
  </div>

  <div class="card">
    <img src="{{ url_for('static', filename='image/sorteo.png') }}" class="card-img-top" alt="Sorteo" />
    <div class="card-body">
      <h5 class="card-title">Sorteo LottoABC</h5>
      <p class="card-text">Sorteo online</p>
      <a href="#" onclick="letraCantada()" class="btn-primary">Entrar</a>
    </div>
  </div>
</div>
