<div id="container">
  <div class="col-md-10">
    <!-- Los cartones se insertarán aquí dinámicamente mediante JavaScript -->
    <!-- El contenido será generado por la función renderCartones() -->
  </div>
</div>

<script>
  // Obtener elementos del DOM
  var modaldatos = document.getElementById('pagoMovil')
  var btnAbrir = document.getElementById('datosPago')
  var btnCerrar = document.getElementById('cerrarModalPago')
  var btnHome = document.getElementById('home')
  var btnListaCartones = document.getElementById('listacartones')
  
  if (btnHome) {
    // redireccionar al home
    btnHome.onclick = function () {
      window.location.href = '/'
    }
  }
  
  if (btnAbrir && modaldatos) {
    // Asociar evento de clic al botón de abrir
    btnAbrir.onclick = function () {
      modaldatos.style.display = 'block'
    }
  }
  
  if (btnCerrar && modaldatos) {
    // Asociar evento de clic al botón de cerrar
    btnCerrar.onclick = function () {
      modaldatos.style.display = 'none'
    }
  }
  
  // Cerrar el modal si el usuario hace clic fuera de él
  window.onclick = function (event) {
    if (event.target == modaldatos) {
      modaldatos.style.display = 'none'
    }
  }
</script>
