<div class="balance">Saldo: <strong>$0.00</strong></div>
<div id="container">
    <div class="card">
        <img src="{{ url_for('static', filename='image/taquillaBingo.jpeg') }}" class="card-img-top" alt="Cartones" />
        <div class="card-body">
          <h5 class="card-title">Bingo</h5>
          <p class="card-text">Juega Bingo</p>
        </div>
        <button class="btn login" onclick="taquillaBingo()">Entrar</button>
    </div>
    <div class="card">
        <img src="{{ url_for('static', filename='image/imagen_sin_fondo.png') }}" class="card-img-top" alt="Cartones" />
        <div class="card-body">
          <h5 class="card-title">Juegos</h5>
          <p class="card-text">Juega y Gana seguro</p>
        </div>
        <button class="btn login" onclick="taquillaVarios()">Entrar</button>
    </div>
</div>