<style>
    /* Estilos para el modal */
    .modal {
      display: none; /* Ocultar el modal por defecto */
      position: fixed; /* Posición fija */
      z-index: 1; /* Por encima de todo */
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto; /* Habilitar desplazamiento si es necesario */
      background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    }
    
    .modal-contenido {
      background-color: #fefefe;
      margin: 15% auto; /* Centrar vertical y horizontalmente */
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
    }
    
    .cerrar {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .cerrar:hover,
    .cerrar:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }

    .centerBoton {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-img-logo{
        width: 80px;
        height: 80px;
        border: 1px solid #d0d0d0; /* Borde delgado */
        background-color: #f0f0f0; /* Color de fondo */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(255, 255, 255, 0.7); /* Sombra para efecto 4D */
        border-radius: 5px; /* Esquinas redondeadas opcional */        
    }

    .cuadro-4d {
        margin-left:1%;
        align: center ;
        width: 82px; /* Ancho del cuadro */
        height: 82px; /* Alto del cuadro */
        border: 1px solid #d0d0d0; /* Borde delgado */
        background-color: #f0f0f0; /* Color de fondo */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(255, 255, 255, 0.7); /* Sombra para efecto 4D */
        border-radius: 5px; /* Esquinas redondeadas opcional */
    }

    .cuadro-4d-a {
        margin-left:1%;
        align: center ;
        width: auto; /* Ancho del cuadro */
        height: auto; /* Alto del cuadro */
        border: 1px solid #d0d0d0; /* Borde delgado */
        background-color: #f0f0f0; /* Color de fondo */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(255, 255, 255, 0.7); /* Sombra para efecto 4D */
        border-radius: 5px; /* Esquinas redondeadas opcional */
    }

    .boton {
        background-color: #99c3ee; /* Color de fondo inicial */
        color: white; /* Color del texto */
        border: none; /* Sin borde */
        padding: 10px 20px; /* Espaciado interno */
        font-size: 16px; /* Tamaño de fuente */
        cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
        transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
        border-radius: 5px; /* Bordes redondeados */
    }
    
    .boton:active {
        background-color: #007bff; /* Color gris al presionar */
    }

    .modal-backdrop {
        display: none; /* Esto oculta el fondo oscuro */
    }

    .modal-backdrop.show {
        display: none; /* Esto oculta el fondo oscuro */
    }
    .row-a {
        display: flex;               /* Usar Flexbox */
        justify-content: center;     /* Centrar horizontalmente */
        align-items: center;         /* Centrar verticalmente */
        height: 200px;
        margin-left: 20%;
    }
    
    .col-3 {
        margin: 0 10px;             /* Espaciado entre columnas */
    }

    /* Asegurarse de que el input y el select tengan el mismo tamaño */
    .form-control {
        width: 100%; /* Asegura que ambos elementos ocupen el 100% del contenedor */
        text-align: center;
    }

    modal-backdrop.show {
        opacity: 0;
    }

    .modal-backdrop.fade.show {
        opacity: 0;
    }
</style>

<div id="container" class="container">
    <div class="card">
        {% for i in range(0, opciones|length, 3) %}
        <div class="row">
            <div class="col-4">
                <img src="{{ url_for('static', filename='image/letras/' + opciones[i][2] + '.png') }}" 
                     class="card-img-logo cuadro-4d btn btn-primary"  
                     onclick="compraOpcion('{{ opciones[i][0] }}', '{{ opciones[i][2] }}')" 
                     alt="...">         
            </div>
            {% if i + 1 < opciones|length %}
                <div class="col-4">
                    <img src="{{ url_for('static', filename='image/letras/' + opciones[i + 1][2] + '.png') }}" 
                         class="card-img-logo cuadro-4d btn btn-primary" 
                         onclick="compraOpcion('{{ opciones[i + 1][0] }}', '{{ opciones[i + 1][2] }}')"  
                         alt="...">   
                </div>
            {% endif %}
            {% if i + 2 < opciones|length %}
                <div class="col-4"> 
                    <img src="{{ url_for('static', filename='image/letras/' + opciones[i + 2][2] + '.png') }}" 
                         class="card-img-logo cuadro-4d btn btn-primary"  
                         onclick="compraOpcion('{{ opciones[i + 2][0] }}', '{{ opciones[i + 2][2] }}')" 
                         alt="...">  
                </div>
            {% endif %}
        </div>
        <br>
        {% endfor %}
    </div>
</div>    
    <!-- Modal Selecionar Opcion de juego -->
    <div class="modal" id="miModal" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="miModalLabel">Confirmación de Compra</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalBody">
                    <p>Esta seguro que desea comprar la Opción?</p>
                    <!-- Contenido dinámico se añadirá aquí -->
                    <img id='lotto'  class="row-a" alt="...">
                    <div class="container mt-5">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-auto">
                                <p class="mb-0">Sorteos:</p>
                            </div>
                            <div class="col-auto">
                                <p class="mb-0">Monto Bs.:</p>
                            </div>
                        </div>
                        <div class="row justify-content-center align-items-center">
                            <div class="col-auto">
                                <select name="sorteoTaquilla" id="sorteoTaquilla" class="form-control">
                                    <option value="Seleccionar">Seleccionar</option>
                                    {% for result in sorteoLetra %}
                                        {% if  result['status']  == 0   %}
                                            <option value="{{ result['id'] }}">{{ result['sorteo'] }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-4">
                                <input type="text" name="monto" id="monto" class="form-control" placeholder="0.00 Bs." />
                            </div>
                        </div>
                        <div class="row justify-content-center align-items-center">
                            <div class="col-auto">
                                <small id="msgNumero" class="error"></small> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="confirmarCompra">Confirmar Compra</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Selecionar Opcion de juego -->
    <div class="modal" id="modalTicket" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="miModalLabel">Procesar Pago</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="modalBody">   
                        <div class="card cuadro-4d-a"> 
                            <div class="container mt-5">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <div class="row justify-content-center">
                                            <p>Por Favor realizar pago Movil?</p>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-auto">
                                                <p><strong>Banco:</strong></p>
                                            </div>
                                            <div class="col-auto">
                                                <p>0102-Venezuela</p>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-auto">
                                                <p><strong>Cedula:</strong></p>
                                            </div>
                                            <div class="col-auto">
                                                <p>12983549</p>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-auto">
                                                <p><strong>Celular:</strong></p>
                                            </div>
                                            <div class="col-auto">
                                                <p>0412 922 18 85</p>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-auto">
                                                <label for="referencia" class="form-label">Referencia:</label>
                                                <input type="text" id="referencia1" class="form-control" placeholder="Ingrese la referencia" oninput="validateInput(event)" maxlength="12" />
                                                <small id="errorNumero" class="error"></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br> 
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Cerrar</button>
                        <button type="button" class="btn btn-primary" id="procesarCompra">Procesar Compra</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>        
        function compraOpcion(opcionId, opcionNombre) {
            // Actualiza la imagen del modal
            const imagen = document.getElementById('lotto');
            imagen.src = 'static/image/letras/' + opcionNombre + '.png';
        
            // Crea instancias de los modales
            const miModal = new bootstrap.Modal(document.getElementById('miModal'));
            const modalTicket = new bootstrap.Modal(document.getElementById('modalTicket'));
        
            // Muestra el modal de compra
            miModal.show();
        
            // Evento para confirmar la compra
            document.getElementById('confirmarCompra').onclick = function() {
                const msgNumero = document.getElementById('msgNumero');
                const sorteoTaquilla = document.getElementById('sorteoTaquilla');
                const seleccionarSorteo = sorteoTaquilla.value;
                console.log("Compra confirmada:", opcionId, opcionNombre);

                // Limpiar mensajes de error
                msgNumero.textContent = '';

                // Validar selección de sorteo
                if (seleccionarSorteo === 'Seleccionar') {
                    msgNumero.textContent = 'Debe seleccionar una hora de sorteo.';
                    return; // Detener la ejecución si hay un error
                }

                // Validar el monto minimo y maximo de las jugadas
                const validaMonto = $('#monto').val();
                if (validaMonto >= 5) {
                    if(validaMonto <= 60){
                        comprarLetra(opcionId, opcionNombre); // Pasar los parámetros necesarios
                        //modalTicket.show(); // Muestra el modal del procesar compra
                    }else { 
                        msgNumero.textContent = 'Verificar Monto de Jugada';
                    } 
                } else { 
                    msgNumero.textContent = 'Verificar Monto de Jugada';
                }
   
            };
        
            // Evento para procesar la compra
            document.getElementById('procesarCompra').onclick = function() {
                const numeroInput = document.getElementById('referencia1');
                const errorNumero = document.getElementById('errorNumero');
                const numero = numeroInput.value;
                
        
                // Limpiar mensajes de error
                errorNumero.textContent = '';
        
                // Validar que solo contenga dígitos y tenga exactamente 12 caracteres
                if (!/^\d{12}$/.test(numero)) {
                    errorNumero.textContent = 'El número debe contener exactamente 12 dígitos.';
                    return; // Detener la ejecución si hay un error
                }else{
                    // Procesamos la compra y guardamos los datos del ticket
                    compraBoletoLetra(opcionId, opcionNombre);; // Pasar los parámetros necesarios
                }
            };
        
            // Función para validar la entrada
            function validateInput(event) {
                const input = event.target;
                const value = input.value;
        
                // Permitir solo dígitos y limitar a 12 caracteres
                if (!/^\d*$/.test(value) || value.length > 12) {
                    input.value = value.slice(0, 12); // Limitar a 12 caracteres
                }
            }

            // Función para comprar letra
            function comprarLetra(opcionId, opcionNombre) {
                
                const url = '/comprarLetra';
                const sorteo = $('#sorteoTaquilla').val();
                const referencia = $('#referencia1').val();
                const monto = $('#monto').val();
                const hora = $('#hora').val();
                        
                const dato = {
                    "sorteo": sorteo,
                    "referencia": referencia,
                    "monto": monto,
                    "opcionId": opcionId, // Agregar opcionId si es necesario
                    "opcionNombre": opcionNombre, // Agregar opcionNombre si es necesario
                    "hora":hora,
                    "status":1,
                    "idVendedor": "120983"
                };
        
                $.ajax({
                    type: "POST",
                    url: url,
                    data: dato,
                    beforeSend: function() {
                        let timerInterval;
                        Swal.fire({
                            title: '',
                            html: 'Procesando.',
                            timer: 5000,
                            timerProgressBar: true,
                            didOpen: () => {
                                Swal.showLoading();
                                timerInterval = setInterval(() => {
                                    const seconds = Math.ceil(Swal.getTimerLeft() / 1000); // Convertir milisegundos a segundos y redondear hacia arriba
                                }, 1000); // Actualizar cada segundo
                            },
                            willClose: () => {
                                clearInterval(timerInterval);
                            }
                        });
                    },
                    success: function(response) {
                        console.log(response);
                        if (response == 'referencia duplicada') {
                            // Hacer un elemento visible si es necesario
                            console.log(response);
                            errorNumero.textContent = 'Número de referencia ya existe'; 
                            referencia.textContent = '';    
                        } else if (response['disponible'] == 'disponible') { 
                            if(response['monto']==0){
                                msgNumero.textContent = 'Jugada No Disponible'  
                            }else{
                                msgNumero.textContent = 'Monto Disponible Para esta Jugada: ' + response['monto'];
                                modalTicket.hide();
                                
                            }     
                        } else if(response['disponible']=='procesar'){
                            // Cierra los modales después de procesar la compra
                            modalTicket.show();
                        }else {
                            $('#container').html(response);
                            // Cierra los modales después de procesar la compra
                            modalTicket.hide();
                            miModal.hide();
                        }  
                        
                    },
                    error: function(error) {
                        if(error == 'referencia duplicada'){
                            console.log(error);
                            errorNumero.textContent = 'Numero de referencia ya existe';     
                        }    
                    }
                });
                return false; 
            }

    // Función para comprar letra
    function compraBoletoLetra(opcionId, opcionNombre) {
        document.getElementById('procesarCompra').disabled = true;
        const modalTicket = new bootstrap.Modal(document.getElementById('modalTicket'));
        const miModal = new bootstrap.Modal(document.getElementById('miModal'));
        const url = '/compraBoletoLetra';
        const sorteo = $('#sorteoTaquilla').val();
        const referencia = $('#referencia1').val();
        const monto = $('#monto').val();
        const hora = $('#hora').val();
                
        const dato = {
            "sorteo": sorteo,
            "referencia": referencia,
            "monto": monto,
            "opcionId": opcionId, // Agregar opcionId si es necesario
            "opcionNombre": opcionNombre, // Agregar opcionNombre si es necesario
            "hora":hora,
            "status":1,
            "idVendedor": "120983"
        };

        $.ajax({
            type: "POST",
            url: url,
            data: dato,
            beforeSend: function() {
                
            },
            success: function(response) {
                console.log(response);
                // Cierra los modales después de procesar la compra
                modalTicket.hide(); 
                miModal.hide();
                if(response == 'referencia duplicada'){
                    errorNumero.textContent = 'Numero de referencia ya existe'; 
                    document.getElementById('procesarCompra').disabled = false;    
                }else{
                    $('#container').html(response);
                }
            },
            error: function(error) {
                console.log(error);            
            }
        });
        return false; 
    }
                  

        }  
    </script>

