<div id="container" class="container">   
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="{{ url_for('static', filename='image/carton.png') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sorteo Iniciado</h5>
                    <p class="card-text">Estimados participantes,
                        Les informamos que el sorteo ya ha iniciado y, por el momento, no se puede ingresar a la sala. Los resultados serán publicados en el siguiente enlace: <a href="#" onclick="listarCartonesPremiados()" class="btn btn-primary">Cartones Premiados</a>
                        Agradecemos su comprensión y les deseamos mucha suerte en el sorteo.
                        
                        
                        Atentamente,
                        El Comité Organizador</p>
                </div>
            </div>
        </div> 
    </div>
</div>