<style>
    .card-img-top{
        width:220px;
        height:180px;
    }
    .modal-backdrop {
        display: none; /* Esto oculta el fondo oscuro */
    }
</style>
<div id="container" class="container">
    <!-- ticket jugada -->
    <div id="miModal" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row justify-content-center align-items-center w-100">
                        <div class="col-auto">
                            <h6 class="modal-title" id="miModalLabel">Ticket-LottoABC</h6>
                        </div>
                        <div class="col-auto">
                            <strong>Serial: {{ formatoSerial }}</strong>
                        </div>
                    </div> 
                </div>
                <div class="modal-body" id="modalBody">
                    <div style="display: flex; align-items: center;">
                        <strong style="margin-right: 45px;">Fecha</strong>
                        <strong style="margin-right: 66px;">Hora</strong>
                         <!-- Asegúrate de que 'serialTicket' esté definido en tu contexto -->
                    </div>
                    <div style="display: flex; align-items: center;">
                        <p style="margin-right: 10px; margin-top:-10px;">{{ nowDate }}</p>
                        <p style="margin-right: 50px; margin-top:-10px;">{{ hora_12h }}</p>
                    </div>
                    <!-- Contenido dinámico se añadirá aquí -->
                    <img src="{{ url_for('static', filename='image/letras/' + datosTicketLetra['opcionNombre'] + '.png') }}" class="card-img-top" alt="...">
                    <div class="container mt-5">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-7">
                                <p >Sorteo:</p>
                            </div>
                            <div class="col-5">
                                <p >Monto:</p>
                            </div>
                        </div>
                        <div class="row justify-content-center align-items-center" style="margin-top: 80px;">
                            <div class="col-7">      
                                <strong name="monto" id="monto" style="margin-top: -80px;" class="form-control">{{ sorteoOpcion }}</strong>
                            </div>
                            <div class="col-5">
                                <strong name="monto" id="monto" style="margin-top: -80px;" class="form-control">{{ datosTicketLetra['monto'] }}</strong>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="listaLetra()">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="confirmarCompra" disabled>Imprimir</button>
                </div>
            </div>
        </div>
    </div>
</div>